body {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;    
   min-height: 100vh;     
}

.logo {
  margin-top: 99px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  color: white;
  z-index: 1000;
  padding: 10px 0;

  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.66);
}

/* Navbar links */
.navbar a,
.navbar .nav-link {
    color: #7a7979 !important;
}

.navbar a:hover,
.navbar .nav-link:hover {
    color:  #FFD700 !important;
}

/* Social Icons */
.social-icons i {
    font-size: 1.5em;
    margin-right: 15px;
    transition: transform 0.3s ease;
    color:  #FFD700 ;
}

.slider {
    color: #d9d9d9;
}

.btn {
  background-color: #41423d;
  color: #808080;
}

.btn:hover {
  background-color: #FFD700;
  color: rgb(59, 59, 59);
}

.social-icons i:hover {
    transform: scale(1.2);
}

/* Progress Bar */
.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 20px;
    background-color: #FFD700;
    color: rgb(51, 51, 51);
}

/* Portfolio Cards */
#portfolio {
  margin-top: 10%;
}
.card {
    width: 100%;
    max-width: 415px;
    margin: 20px auto;
    background: rgb(42, 40, 46);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* videos */

.video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 */
  overflow: hidden;
  background-color: transparent;
}

.video-container video {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.content-overlay {
  position: relative;
  z-index: 2;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hero-section {
        padding: 40px 10px;
    }

    .card {
        width: 90%;
    }

    .social-icons i {
        font-size: 1.2em;
    }
}

/* Animation Trigger */
.show {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Hero Section */
.hero-section {
    margin-top: 1%;
}

/* Styling for the logos */
i {
    font-size: 500%;
}

.logo-container {
    display: flex;
    gap: 7em;
    overflow: hidden;
    white-space: nowrap;
}

.slider {
    overflow: hidden;
}

.slider .logo-container {
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 412px) {
    i {
        font-size: 300%;
        margin-left: 0;
    }

    .logo-container {
        gap: 2em;
    }

    .hero-section {
        margin-top: 40%;
    }
}

/* Service Section */
.services-section {
    padding: 60px 0;
    text-align: center;
}

.services-title {
    font-size: 2.5rem;
    font-weight: bold;
    color: #323232;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.services-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.services-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.service-item {
    background-color: #333333;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    flex: 1 0 30%;
    margin: 10px;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.service-icon {
    font-size: 3rem;
    color: #41423d;
    margin-bottom: 20px;
    transition: color 0.3s ease;
}

.service-icon:hover {
    color: #FFD700;
}

.service-item h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #777777;
    margin-bottom: 15px;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.service-item p {
    font-size: 1rem;
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}

@media (max-width: 767px) {
    .services-row {
        justify-content: center;
    }

    .service-item {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

/* Link Dev live */
/* LIVE logo */

 .text-live {
    text-decoration: none;
    color: #c5c5c5;
    margin-left: 2%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .live-badge {
    color: rgb(0, 255, 51);
    position: relative;
    padding-left: 8px;
  }

  .live-badge {
	-webkit-animation: bounce-in-bck 1.1s 1s both;
	        animation: bounce-in-bck 1.1s 1s both;
   }

  @-webkit-keyframes bounce-in-bck {
    0% {
      -webkit-transform: scale(7);
              transform: scale(7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(1.24);
              transform: scale(1.24);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(1.04);
              transform: scale(1.04);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes bounce-in-bck {
    0% {
      -webkit-transform: scale(7);
              transform: scale(7);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
      opacity: 0;
    }
    38% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
      opacity: 1;
    }
    55% {
      -webkit-transform: scale(1.5);
              transform: scale(1.5);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(1.24);
              transform: scale(1.24);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(1.04);
              transform: scale(1.04);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  
  .live-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #00ff00;
    border-radius: 50%;
    margin-left: 6px;
    animation: pulse 1.2s infinite ease-in-out;
    box-shadow: 0 0 5px #00ff00;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.5);
      opacity: 0.6;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }
  
/* End of the Live logo */

/* Footer */

footer {
    background-color: #2a2833;
    width: 100%;           /* ocupa todo el ancho del footer */
    text-align: center;    /* centra el texto */
    gap: 10px; 
}

/* Cookies */
#cookieConsent {
  background: rgba(255, 255, 255, 0.17);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.9px);
  -webkit-backdrop-filter: blur(3.9px);
  border: 1px solid rgba(255, 255, 255, 0.66);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  color: #666666;
  padding: 15px;
  text-align: center;
  z-index: 2;
}
